# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DACTYL_MANUFORM_LEFT

config ZMK_KEYBOARD_NAME
	default "dactyl-manuform"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_DACTYL_MANUFORM_LEFT || SHIELD_DACTYL_MANUFORM_RIGHT

config ZMK_SPLIT
	default y

choice ZMK_SPLIT_TRANSPORT
	default ZMK_SPLIT_SERIAL
endchoice

endif
